<!-- Footer -->


<div class="container-pre-footer">
<<<<<<< HEAD
    <h2>si Coriolanus habuit amicos, ferre contra
        patriam</h2>
=======
    <h2>Pour rester informé<br> <b>des nouveautés du site</b></h2>
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
    <div>
        <form>
            <label for="exampleFormControlInput1">
                <input type="email" class="form-control col-md-12" id="exampleFormControlInput1"
                    placeholder="name@example.com"></label>
<<<<<<< HEAD
            <button type="button" class="btn  btn-lg btn-secondary">Envoyer</button>
=======
            <button type="button" class="btn btn-primary btn-sm">Envoyer</button>
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
        </form>
    </div>
</div>

<footer>
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="" alt="" width="" class="mb-3">
                <p class=" text">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt, Quam ob rem id primum videamus, si placet,
                    quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra
                    patriam
                    arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt
                    iuvare.</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
                                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i
                                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i
                                class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i
                                class="fa fa-pinterest"></i></a></li>
<<<<<<< HEAD
                    <!--<li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i
                                class="fa fa-vimeo"></i></a></li>-->
=======
                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i
                                class="fa fa-vimeo"></i></a></li>
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 col-sm-6 text-center">
                <h6 class="text-uppercase font-weight-bold mb-4">Pages</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text">Staff</a></li>
                    <li class="mb-2"><a href="#" class="text">Encyclopédie</a></li>
                    <li class="mb-2"><a href="#" class="text">Fichiers</a></li>
                    <li class="mb-2"><a href="#" class="text">Médias</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 col-sm-6 text-center">
                <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text">Chartre</a></li>
                    <li class="mb-2"><a href="#" class="text">Login</a></li>
                    <li class="mb-2"><a href="#" class="text">Register</a></li>
                    <li class="mb-2"><a href="#" class="text">Contact</a></li>
                </ul>
            </div>
<<<<<<< HEAD
            <div class="col-lg-4 col-md-6 mb-lg-0">
=======
            <!--<div class="col-lg-4 col-md-6 mb-lg-0">
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
                <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                <p class=" text mb-4">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. At
                    itaque
                    temporibus.</p>
                <div class="p-1 rounded border">
                    <div class="input-group">
                        <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
                            class="form-control border-0 shadow-1">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link"><i
                                    class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
<<<<<<< HEAD
            </div>
=======
            </div>-->
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
        </div>
    </div>
</footer>
<!--/Footer-->


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

</html>