<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand">JOJO'S WORLD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Staff</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/author">Author</a>
                        <!--<a class="dropdown-item" href="#">Production</a>
                            <a class="dropdown-item" href="#">Animators</a>
                            <a class="dropdown-item" href="#">Seiyu</a>-->
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Encyclopédie</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/characters">Characters</a>
                        <!--<a class="dropdown-item" href="#">Races</a>
                            <a class="dropdown-item" href="#">Chronology</a>
                            <a class="dropdown-item" href="#">Dictionary</a>-->
                    </div>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dossiers</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/manga">Arcs</a>
                        <!--<a class="dropdown-item" href="#">Inspirations</a>
                            <a class="dropdown-item" href="#">Looks</a>
                            <a class="dropdown-item" href="#">Names origin</a>
                            <a class="dropdown-item" href="#">The stands</a>-->
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Médias</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/images">Images</a>
                        <!--<a class="dropdown-item" href="#">Videos</a>
                            <a class="dropdown-item" href="#">Rating</a>-->
                    </div>
                </li>
                <li class="">
                    <a class="nav-link" href="/store" id="" data-toggle="" aria-haspopup="true"
                        aria-expanded="false">Store</a>
                    <!--<div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="#">Books</a>
                            <a class="dropdown-item" href="#">Games</a>
                            <a class="dropdown-item" href="#">Accessories</a>
                        </div>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Contact</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/register">Register</a>
                        <a class="dropdown-item" href="/message">Message</a>
                    </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>