<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center m-2" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/author">Auteur</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/characters">Personnages</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/manga">Manga</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/message">Message</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{#if user }}
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{/if }}

            {{#if isAdmin }}
            <li>
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {{/if }}
        </ul>
    </div>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 30px;
        z-index: 1;
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: black;
    }

    nav ul {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    nav ul li a {
        margin: 8px;
        padding: 0px 22px;
        display: flex;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }

    nav ul li a:hover {
        background-color: #FF1178;
        color: #fff;
        box-shadow: 5px 10px 30px rgba(255, 17, 120, 0.5);
        transition: all ease 0.2s;
    }
</style>

{{#if isUser }}
<script>
    /*Ajout d'une promesse ".then" pour la redirection sur la page home*/
    swal({
        title: "Super !",
        text: "Tu es bien déconnecté",
        icon: "success"
    }).then(function () {
        window.location = "/";
    })
</script>
{{/if}}