{{!-- Banner --}}
<section>
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <p class="text-banner text-white">
                      
                        " Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent,
                        quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius
                        contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio
                        properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta,
                        dispersique ut solent avia montium petiere celsorum" .</p>
                   
                </div>
            </div>
        </div>
    </header>
</section>
{{!-- /Banner --}}
