{{!-- Banner --}}
<section>
    <header class="py-5 mb-5 banner">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <p class="text-banner text-center text-white lead">
                        « Je dessine "JoJo" sur le thème de « l'hymne à la vie », « la grandeur de l'être humain ». Je
                        tiens à ce que mon héros aussi vienne à bout des dangers sans recourir à des machines ou à la
                        technologie, mais au moyen de son propre corps. C'est parce que je suis de l'avis que les
                        sciences ne font pas forcément toujours le bonheur de l'homme. » Hirohiko Araki.</p>
                </div>
            </div>
        </div>
    </header>
</section>
{{!-- /Banner --}}