  
 <!--Cards-->
    <section class="jumbotron text-center" style="background-color: #fff;">
        <div class="container">
            <h1>Jojo's Bizarre Adventure parts</h1>
            <p>Accenderat super his incitatum propositum ad nocendum aliqua
                mulier vilis,
                quae
                ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a
                militibus
                obscurissimis.
            </p>
            <p>
                <a href="manga.html" class="btn btn-primary my-2">Voir plus</a>
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="https://img1.ak.crunchyroll.com/i/spire1-tmb/b876abc578c8bf0fab25a4591280cffa1396473017_full.jpg"
                        alt="Dio vs Jonathan" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Phantom Blood</a></h5>
                        <h6>1986-1987</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img src="https://i.ytimg.com/vi/OBvC1lMVmig/maxresdefault.jpg"
                        alt="Joseph Joestar" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Battle Tendency</a></h5>
                        <h6>1987-1989</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="https://www.capsulecomputers.com.au/wp-content/uploads/2014/05/JoJos-Bizarre-Adventure-Stardust-Crusaders-Episode-7-Screenshot-01-600x336.png"
                        alt="The crusaders" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Stardust Crusaders</a></h5>
                        <h6>1989-1992</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img src="https://i.ytimg.com/vi/OYWu4hOTsXE/maxresdefault.jpg"
                        alt="Kira" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Diamond Is Unbreakable</a></h5>
                        <h6>1992-1995</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="https://daramue.com/wp-content/uploads/2019/03/HorribleSubs-JoJos-Bizarre-Adventure-Golden-Wind-23-1080p.mkv_snapshot_21.51_2019.03.23_15.49.35-1920x1024.jpg"
                        alt="Bucci's gang" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Golden Wind</a></h5>
                        <h6>1995-1999</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="http://gizmoblaze.com/wp-content/uploads/2020/05/jojo-stone-ocean-1180506-1280x0-1.jpeg"
                        alt="Jolyne and Jotaro" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Stone Ocean</a></h5>
                        <h6>2000-2003</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="https://vignette.wikia.nocookie.net/jjba/images/b/bf/Gyro.jpg/revision/latest/smart/width/400/height/225?cb=20150613223034"
                        alt="Gyro" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Steel Ball Run</a></h5>
                        <h6>2004-2011</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white"><img
                        src="https://i1.hdslb.com/bfs/archive/ea9396ab576a7948ce0cddad1f08b2b181284985.jpg@320w_200h.webp"
                        alt="Josuke8" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5> <a href="#" class="text-dark">Jojolion</a></h5>
                        <h6>2011- En cours de publication.</h6>
                        <p class="small text-muted mb-0" style="font-family: cantarell; font-size: 12px">Nec piget dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->
        <!--/Cards-->

        {{> article/cards}}
