<!--Cards-->
<section class="jumbotron text-center" style="background-color: #fff;">
    <div class="container">
        <div class="card-h1">
            <div class="card-body">
                <h1>Les différentes parties de Jojo's Bizarre Adventure</h1></div>
        </div>
        <p class="descr-top mt-5">Accenderat super his incitatum propositum ad nocendum aliqua
            mulier vilis,
            quae
            ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a
            militibus
            obscurissimis Haec dum oriens diu perferret, caeli reserato tepore Constantius consulatu suo septies et
            Caesaris ter egressus Arelate Valentiam petit, in Gundomadum et Vadomarium fratres Alamannorum reges arma
            moturus, quorum crebris excursibus vastabantur confines limitibus terrae Gallorum, Haec ubi latius fama
            vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea
            tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam
            periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re
            amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum.
        </p>
        <p>
            <a href="manga.html" class="btn btn-primary my-2">Voir plus</a>
        </p>
    </div>


    <!--cards-->
    <div class="container mt-5">
        <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img
                        src="https://img1.ak.crunchyroll.com/i/spire1-tmb/b876abc578c8bf0fab25a4591280cffa1396473017_full.jpg"
                        alt="Dio vs Jonathan" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Phantom Blood</h3>
                        <h6 class="font-weight-normal date">1986-1987</h6>
                        <p class=" descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img src="https://i.ytimg.com/vi/OBvC1lMVmig/maxresdefault.jpg" alt="Joseph Joestar"
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Battle Tendency</h3>
                        <h6 class="font-weight-normal date">1987-1989</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img
                        src="https://www.capsulecomputers.com.au/wp-content/uploads/2014/05/JoJos-Bizarre-Adventure-Stardust-Crusaders-Episode-7-Screenshot-01-600x336.png"
                        alt="The crusaders" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Stardust Crusaders</h3>
                        <h6 class="font-weight-normal date">1989-1992</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img src="https://i.ytimg.com/vi/OYWu4hOTsXE/maxresdefault.jpg" alt="Kira"
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Diamond Is Unbreakable</h3>
                        <h6 class="font-weight-normal date">1992-1995</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img
                        src="https://i.pinimg.com/originals/a3/ff/b3/a3ffb3367096bc7c710ab0068e198888.jpg"
                        alt="Bucci's gang" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Golden Wind</h3>
                        <h6 class="font-weight-normal date">1995-1999</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img
                        src="http://gizmoblaze.com/wp-content/uploads/2020/05/jojo-stone-ocean-1180506-1280x0-1.jpeg"
                        alt="Jolyne and Jotaro" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Stone Ocean</h3>
                        <h6 class="font-weight-normal date">2000-2003</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img
                        src="https://vignette.wikia.nocookie.net/jjba/images/b/bf/Gyro.jpg/revision/latest/smart/width/400/height/225?cb=20150613223034"
                        alt="Gyro" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc">Steel Ball Run</h3>
                        <h6 class="font-weight-normal date">2004-2011</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="card"><img src="https://media.comicbook.com/2019/11/jojollion-1194064-1280x0.jpeg"
                        alt="Josuke8" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h3 class="font-weight-bolder arc ">Jojolion</h3>
                        <h6 class="font-weight-normal date">2011- En cours de publication.</h6>
                        <p class="font-weight-normal descr">Nec piget
                            dicere avide magis hanc insulam
                            populum Romanum
                            invasisse quam iuste. Ptolomaeo enim rege foederato nobis et socio ob
                            aerarii nostri
                            angustias iusso sine ulla culpa proscribi ideoque hausto veneno
                            voluntaria morte deleto
                            et
                            tributaria facta est et velut hostiles eius exuviae classi inpositae in
                            urbem advectae
                            sunt
                            per Catonem, nunc repetetur ordo gestorum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->
        <!--/Cards-->
    </div>
</section>

{{> article/cards}}