{{!-- Form --}}
<section class="mt-5">
    <div class="container">
        <h1 class="text-center display-4">Envoyer un message</h1>
    </div>

    <div class="container mb-5">
        <div class="card-body mx-auto" style="max-width: 700px;">
            <p>Pour toutes questions relatives au site ou à mon point vu sur le manga, vous avez la possibilité de
                m'envoyer un message ci-dessous:</p>
            <form action="/nodemailer" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="text">Nom</label>
                        <input type="text" class="form-control" name="name" placeholder="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="email"
                        required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sujet</label>
                    <input type="text" class="form-control" name="subject" placeholder="subject">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"
                        placeholder="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {{!-- /Form --}}