{{!-- Arcs Card --}}
<section class="text-center">
    <div class="container">
        <h1 class="">Les différentes parties:</h1>
        <span class="small">(elles ne sont pas classées dans leur ordre d'apparition)</span>
        <p class=" text-justify mt-5">Cet oeuvre à la particularité d'être découpé en parties distinctes,
            chacune suivant un
            protagoniste différent (mais qui ont tous pour point commun d'être être surnommés Jojo), son propre casting,
            son
            époque et son scénario, tout en s'inscrivant dans une continuité globale. Cela permet de suivre l'évolution
            de l'histoire sur différentes périodes et lieux, tout en retrouvant
            certains personnages d'une partie à l'autre. A l'heure actuelle, JoJo's Bizarre Adventure comporte 8 parties
        <div class="text-center">
            <a href="/manga" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Voir plus</a>
        </div>
    </div>

    {{!-- Arcs List --}}
    <div class="container mt-5">
        <div class="row justify-content-center">
            {{!-- Début de la boucle --}}
            {{#each (limit arcs 8) }}
            <div class="text-center  col-sm-12 col-lg-3 p-0 rounded">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ image }}" class="card-img-top" alt="...">
                        <h6 class="mt-3 text-uppercase">{{ title }}</h6>
                        <p class="justify mt-2 text-arcs">{{{ stripTags content }}}</p>
                    </div>
                </div>
            </div>
            {{!-- Fin de la boucle --}}
            {{/each }}
        </div>
    </div>
</section>