<!--Card-->
<section class="jumbotron text-center" style="background-color: #fff;">
    <div class="container">
        <h1>Jojo's Bizarre Adventure parties</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum."
        </p>
    </div>
</section>

<div class="container">
    <div class="row">
        {{!-- Début de la boucle --}}
        {{#each (limit arcs 3) }}
        <div class="card col-3" style="width: 18rem;">
            <img src="{{ image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ content }}</p>
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
        {{!-- Fin de la boucle --}}
        {{/each }}
    </div>
</div>
<!--card-->