{{!-- Arcs Card --}}
<section class="text-center bg">
    <div class="container">
        <h1 class="display-4">Les différentes saisons ou parties:</h1>
        <p class="text-arcs text-justify">Cet oeuvre à la particularité d'être découpé en parties distinctes,
            chacune suivant un
            protagoniste différent (mais qui ont tous pour point commun d'être être surnommés Jojo), son propre casting,
            son
            époque et son scénario, tout en s'inscrivant dans une continuité globale. Cela permet de suivre l'évolution
            de l'histoire sur différentes périodes et lieux, tout en retrouvant
            certains personnages d'une partie à l'autre. A l'heure actuelle, JoJo's Bizarre Adventure comporte 8 parties
            :</p>
        <p>
            <a href="/manga" class="btn my-2 text-white">Voir plus</a>
        </p>
    </div>


    {{!-- Arcs List --}}
    <div class="container mt-5">
        <div class="row justify-content-center">
            {{!-- Début de la boucle --}}
            {{#each (limit arcs 8) }}
            <div class="card-deck mb-3 text-center col-md-3">
                <div class="card mb-4">
                    {{!-- <div class="card-header"> --}}

                    {{!-- </div> --}}
                    <div class="card-body">
                        <img src="{{ image }}" class="card-img-top" alt="...">
                        <h6 class="mt-5 text-uppercase">{{ title }}</h6>
                        <p class="justify mt-2 text-arcs">{{ stripTags content }}</p>
                        {{!-- Récupérer le "createDate" pour ajouter la date --}}
                        <p class="card-text text-muted"><small>Ajouté le:
                                {{ moment createDate format="DD.MM.YYYY" }}</small></p>
                    </div>
                </div>
            </div>
            {{!-- Fin de la boucle --}}
            {{/each }}
        </div>
    </div>
    <style>
        .bg {
            background-color: #f5f7fe;
        }

        .card-body {
            padding: 40px 30px;
            background-color: #fff;
            background-clip: border-box;

        }

        img {
            box-shadow: 4px 4px 8px #e2e6fc, -4px -4px 8px #fff !important;
        }

        h6 {
            color: #ff1178
        }

        small {
            color: #191941;
            font-family: 'Lato', sans-serif;
            font-size: 12px;

        }
        .text-arcs{
            font-size: 13px;
        }
    </style>
</section>