<section class="ov-hidden pt-5  position-relative showcase"
    style="min-height:100vh; background-image: url(/assets/VIDEOS/head2.mp4); background-size: cover;">

    <header>
        {{!-- <h6 class="logo">JOJO'S BIZARRE ADVENTURE FANSITE</h6> --}}
        <div class="toggle"></div>
    </header>
    <video src="/assets/VIDEOS/head2.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
        <h2>JOJO'S WORLD </h2>
        <h3>Exploring The World</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        <a href="https://jojo-portal.com/" class="rounded" target="_blank">VOIR PLUS</a>
    </div>
    {{!-- <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul> --}}
</section>

{{!-- <style>
   
     
    toggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: url(https://i.ibb.co/HrfVRcx/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
    }

    .toggle.active {
        background: url(https://i.ibb.co/rt3HybH/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        cursor: pointer;
    }

    
</style> --}}