{{!-- Video --}}
<header style='width: 100%'>
    <video autoplay muted loop id="myVideo" style='width: 100%'>
        <source src="assets/VIDEOS/head2.mp4" type="video/mp4">
    </video>
    <div class="container-fluid title">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-6 col-sm-12">
                <h1>Titre</h1>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque expetendis
                    neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore
                    latine
                    molestiae, ad mutat oblique delicatissimi pro.</p>
                {{!-- Boutton pour démarrer et arréter la vidéo avec Javascript --}}
                <button type="button" class="btn btn-primary" id="myBtn" onclick="myFunction()">Pause</button>
            </div>
        </div>
    </div>
    <style>
        video {
            /*position:absolute;*/
            z-index: -1
        }

        .title {
            position: absolute;
            top: 10vh;

        }
    </style>
    <script>
        // Get Récupérer la vidéo
        var video = document.getElementById("myVideo");

        // Get Récupérer le boutton
        var btn = document.getElementById("myBtn");

        // Démarrer et arréter la vidéo on peut aussi ajouter du texte "".
        function myFunction() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
            } else {
                video.pause();
                btn.innerHTML = "Play";
            }
        }
    </script>

    {{!-- <div style='margin-top: 110vh'></div> --}}
    {{!-- /Video --}}
</header>