{{!-- Video --}}
<header style='width: 100%'>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/jojo.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/joseph.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/kak.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</header>


<style>
    .title {
        top: 100vh;
        background-color: black;
        font-family: 'montserrat', sans-serif;
    }

    ,
    .image {

        height: 100vh;
        background-position: center;
        background-image: linear-gradient(rgba(0, 242, 96, 0.3), rgba(7, 217, 230, 0.5)), url(/public/images/jojo.jpg);
        background-size: cover;

    }
</style>