{{!--  START Bootstrap-Cookie-Alert --}}
<div class="alert text-center cookiealert" role="alert">
    <div class="container">
        <br>
        <br>
        <b>Vous aimez les cookies ?</b> &#x1F36A; Ce site utilise des cookies pour vous garantir la meilleure
        expérience.</b>
        {{!-- href="https://cookiesandyou.com/" target="_blank">Learn more</> --}}

        {{!-- New Cookie--}}
        <a href="/newCookie">
            <button class="btn btn-primary btn-sm acceptcookies">J'accepte</button>
        </a>
        <br>
        <br>
        <br>
    </div>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>