{{!--  START Bootstrap-Cookie-Alert  --}}
<div class="alert text-center cookiealert" role="alert">
    <div class="container">
        <br>
        <p class="text-center text-white font-weight-bold">Vous aimez les cookies ? &#x1F36A; Ce site utilise des cookies pour vous garantir la meilleure
        expérience.</p>

        {{!-- New Cookie--}}
        <a href="/newCookie" class="btn btn-primary btn-sm acceptcookies" role="button"
            aria-pressed="true">J'accepte</a>
        <br>
        <br>
    </div>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>