<!--News-->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>News</h2>
                <hr>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore
                    recusandae
                    animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam
                    laboriosam. Repellat explicabo, maiores!</p>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur
                    consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias,
                    adipisci nesciunt voluptate. Voluptatum.</p>
                <a class="btn btn-primary " href="author.html">Call to Action &raquo;</a>
            </div>

            <div class="container">
                <div class="row">
                    <div class="card" style="width: 18rem; margin: 10px">
                        <img src="/assets/IMAGES/manga.jpg"  height="200" width="300" class="card-img-top"  alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Manga</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 10px">
                        <img src="/assets/IMAGES/jotaro.jpg" height="200" width="300" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Characters</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 10px">
                        <img src="/assets/IMAGES/t-shirts.jpg" height="200" width="300" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Store</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
</section>
<!--/News-->