<!--News-->
<section>
    <div class="container">
        <div class="row">
            <div class="card col-md-12">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Manga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Personnages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Boutique</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h1 class="card-title">Sortie blu-ray/DVD de l'OAV 3 de "The Run"</h1>
                    <p class="card-text"><img src="/assets/IMAGES/rohan.jpg" height="300" width="">
                        quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor
                        mirabilia quaedam sed nihil est quod illi non persequantur argutiis: partim fugiendas esse
                        nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque esse sibi
                        suarum cuique rerum, alienis nimis implicari molestum esse. commodissimum esse quam laxissimas
                        habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate
                        vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus pro pluribus.
                        quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor
                        mirabilia quaedam sed nihil est quod illi non persequantur argutiis: partim fugiendas esse
                        nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque esse sibi
                        suarum cuique rerum, alienis nimis implicari molestum esse. commodissimum esse quam laxissimas
                        habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate
                        vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus pro pluribus.</p>
                    <a href="#" class="btn btn-secondary">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/News-->