<!--News-->
<section>
    <div class="container">
        <div class="row">
<<<<<<< HEAD
            <div class="card col-md-12">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Manga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Personnages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Boutique</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h1 class="card-title">Sortie blu-ray/DVD de l'OAV 3 de "The Run"</h1>
                    <p class="card-text"><img src="/assets/IMAGES/rohan.jpg" height="300" width="">
                        quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor
                        mirabilia quaedam sed nihil est quod illi non persequantur argutiis: partim fugiendas esse
                        nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque esse sibi
                        suarum cuique rerum, alienis nimis implicari molestum esse. commodissimum esse quam laxissimas
                        habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate
                        vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus pro pluribus.
                        quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor
                        mirabilia quaedam sed nihil est quod illi non persequantur argutiis: partim fugiendas esse
                        nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque esse sibi
                        suarum cuique rerum, alienis nimis implicari molestum esse. commodissimum esse quam laxissimas
                        habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate
                        vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus pro pluribus.</p>
                    <a href="#" class="btn btn-secondary">Voir plus</a>
                </div>
=======
            <div class="col-md-4">
                <h4 class="news">MANGA</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Voir &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h4 class="news">PERSONNAGES</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Voir &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h4 class="news">BOUTIQUE</h4>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Voir &raquo;</a></p>
>>>>>>> e6f91ffa9785fb01fff0af69676578cd2350ef12
            </div>
        </div>
    </div>
</section>
<!--/News-->