<section>
  {{!-- Card --}}
  <div class="container mt-5">
    <div class="row">
      {{! Début de la boucle }}
      {{#each (limit news 3) }}
      <div class="col-md-6 col-lg-4">
        <div class="card border-light mb-4">
          <img src="{{ image }}" class="card-img-top" alt="jojo's news"></a>
          <div class="card-body">

            <h5 class="font-weight-normal text-center">{{ title }}</h5>

            <p class="text-justify mt-2">
              {{{ stripTags content }}}
            </p>
            <p class="text-center text-muted"> <strong>Par: Admin</strong> | {{ moment createDate format="DD.MM.YYYY" }}
            </p>
          </div>
        </div>
      </div>
      {{! Fin de la boucle }}
      {{/each}}
    </div>
  </div>
</section>
{{! / news }}