<!--News-->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-8 mb-5">
                    <h2>News</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae
                        animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam
                        laboriosam. Repellat explicabo, maiores!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur
                        consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias,
                        adipisci nesciunt voluptate. Voluptatum.</p>
                    <a class="btn btn-primary btn-lg" href="author.html">Call to Action &raquo;</a>
                </div>


                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <h4 class="card-header">Manga/Anime</h4>
                            <div class="card-body">
                                <img src="/assets/IMAGES/manga.jpg" width="300" alt="">
                                <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Reiciendis
                                    ipsam eos, nam perspiciatis natus commodi similique totam consectetur
                                    praesentium
                                    molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint
                                    fuga.</p>
                            </div>
                            <div class="card-footer">
                                <a href="manga.html" class="btn btn-primary">More details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <h4 class="card-header">Characters</h4>
                            <div class="card-body">
                                <img src="/assets/IMAGES/jotaro.jpg" width="300" alt="">
                                <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Reiciendis
                                    ipsam eos, nam perspiciatis natus commodi similique totam consectetur
                                    praesentium
                                    molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint
                                    fuga.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="characters.html" class="btn btn-primary">More details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <h4 class="card-header">Store</h4>
                            <div class="card-body">
                                <img src="/assets/IMAGES/t-shirts.jpg" width="300" alt="">
                                <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Reiciendis
                                    ipsam eos, nam perspiciatis natus commodi similique totam consectetur
                                    praesentium
                                    molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint
                                    fuga.</p>
                            </div>
                            <div class="card-footer">
                                <a href="store.html" class="btn btn-primary">More details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
    </section>
    <!--/News-->