<section></section>
{{!--Ajout de l'url et de la méthode. "multipart/form-data" sert à prendre en compte le jpeg--}}
<form action="/admin/article/formEdit" method="POST" enctype="multipart/form-data">
    {{!-- Input Titre --}}
    <div class="form-group">
        <label for="text">Titre {{ title }}</label>
        <input type="text" class="form-control" id="exampleInput">
    </div>

    {{!-- Input Contenu --}}
    <div class="form-group">
        <label for="exampleInputTextarea">Contenu {{ content }}</label>
        <textarea class="form-control" id="Textarea" placeholder="example textarea"></textarea>
    </div>

    {{!-- Images --}}
    <div class="form-group">
        <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    {{!-- boutton --}}
    <button type="submit" class="btn btn-primary">Valider</button>
</form>

{{!-- Boutton de suppression--}}
<form>
        <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
</section>