{{!-- Titre --}}
<section>
        <h1 class="title-author text-center text-black display-4 mt-5">A Propos de l'auteur</h1>
</section>

{{!-- Author --}}
<section class="container">
    <div class="row">
        {{!-- Colonne contenu  --}}
        <div class="col-md-10">

            {{!-- Image --}}
            <img class="img-fluid rounded" src="../assets/images/H.Araki.jpg" alt="Hirohiko Araki">

            {{!-- About --}}
            <div class="p-4 mt-5 text-author ">
                <div class="d-flex w-100 justify-content-between"></div>

                <p class=" p-4 mb-3 rounded text-justify text-white">Hirohiko Araki (荒木 飛呂彦, Araki
                    Hirohiko,), né le 7 juin
                    1960 à Sendai dans
                    la préfecture de Miyagi, au Japon,
                    est un auteur de bande dessinée japonaise (mangaka) et est principalement connu pour son manga JoJo's
                    Bizarre
                    Adventure. Son œuvre fut publié dans le Weekly Shonen Jump de 1987 à 2003, avant que la série ne
                    soit transférée à partir de la Partie VII : Steel Ball Run dans le mensuel Ultra Jump en 2004. Son
                    travail sur JoJo's Bizarre Adventure est divisé en plusieurs parties et continue d'être publié
                    depuis plus de 30 ans, totalisant 122 volumes au Japon et 115 en France, distribués à plus de 100
                    millions d'exemplaires.</p>
            </div>
            {{!-- / About --}}

            {{!-- Biography --}}
            <div class="p-4 mt-5">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="bio font-weight-bold">BIOGRAPHIE</h4>
                </div>
                <p class=" p-4 mb-3 rounded text-justify"> Araki passe sa jeunesse avec ses
                    parents et ses deux
                    sœurs
                    jumelles. Ces dernières l'auront, poussé à devenir mangaka en monopolisant
                    l'attention de leurs parents au détriment du jeune enfant, qui va alors s'isoler et se découvrir une
                    passion pour les mangas. Il réalise son premier manga vers l'âge de 10 ans, puis, encouragé par ses
                    camarades d'école qui louent ses talents de dessinateur, il présente pour la première fois ses
                    planches à des éditeurs à l'âge de 15 ans. Il arrête ses études à 20 ans pour devenir mangaka
                    professionnel. Il commence sa carrière réél de mangaka sous le pseudonyme Toshiyuki Araki en 1980.
                    <br>
                    <br>
                    Mais avant cela, Il commença à soumettre des œuvres aux éditeurs pendant sa première année de lycée
                    mais aucune ne se faisait remarquer. D'autres artistes tels qu'Akira Toriyama de son âge étaient
                    devenus des stars du
                    manga et Araki ne comprenait pas pourquoi personne n’acceptait son travail, il décida alors de
                    travailler toute une nuit pour terminer un projet à soumettre, enchaînant directement sur un voyage
                    de 4 heures pour rendre visite aux éditeurs à Tokyo et leur demander une explication.
                    <br>
                    <br>
                    Il eut d’abord l'intention de visiter Shogakukan, qui publiait et publie toujours le Weekly Shōnen
                    Sunday (connu pour Ranma 1/2, Cyborg 009, Detective Conan et bien d’autres…), mais, intimidé par la
                    taille de leur bâtiment, il décida de se rendre chez Shueisha (les éditeurs du Weekly Shonen Jump,
                    connus dans ces années-là pour Dragon Ball, Captain Tsubasa, Cobra, Hokuto No Ken, etc) résidant
                    dans un bâtiment adjacent plus modeste. A midi, il rentra dans le bâtiment. Un
                    éditeur débutant (plutôt impressionnant, mesurant près de un mètre quatre-vingt-cinq) se trouvait
                    ici à ce moment-là et il lui montra son travail. Le rédacteur, après la lecture de la première page,
                    a promptement raillé Araki en se moquant de tous ses défauts techniques de débutants et à chaque
                    page, l’homme trouvait un nouveau défaut. Épuisé d'avoir travaillé toute la nuit, Araki eut
                    l’impression de mourir. Cependant, après qu'il ait terminé la lecture, l’éditeur se montra plus
                    conciliant et le rassura sur la qualité de son travail, lui conseillant même de s’améliorer pour les
                    Tezuka Awards cinq jours plus tard.</p>

                <div class="d-flex w-100 justify-content-between">
                    <h4 class="bio justify-centent-center font-weight-bold">LE SUCCES DE JOJO'S BIZARRE ADVENTURE</h4>
                </div>
                <p class=" p-4 mb-3 rounded text-justify text-decoration-none">Publié dans Weekly Shonen Jump
                    entre 1986 et 2004 et de 2004 à aujourd'hui dans l'Ultra Jump, JoJo's Bizarre Adventure représente
                    la
                    marque de fabrique principale et le corpus de l'œuvre de Hirohiko Araki. Sur chaque jaquette de
                    volume de JoJo
                    contient une note pour le lecteur; une grande source
                    d'opinions directes d'Araki, sur ses ressentis, son parcours etc...
                    <br>
                    <br>
                    <a href="/manga" class="alert-link">Pour plus d'informations sur Jojo's Bizarre Adventure.</a>
                </p>
            </div>
            {{!-- / Biography --}}
        </div>

        {{!-- Info --}}
        {{!-- On est obliger de quitter le col-md-8 pour que le responcive puisse retrouver sa place --}}
        <div class="col-md-2 col-sm-12 sticky">
            <div class="row">
                <div class="card">

                    <img src="assets/images/H.Araki2.jpg" class="card-img-top" alt="">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item alert-primary">
                            <h6 class="card-first-title smaller text-center">LISTE DES OEUVRES<h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center">Busou poker - 1981</h6>
                            <p class="card-text text-center">Un one-shot dans le magazine Weekly Shōnen Jump.</p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center">Ma Shōnen B.T - 1982/1983</h6>
                            <p class="card-text text-center">Il le sérialise dans le magazine Weekly Shōnen Jump.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center"> Baoh le visiteur - 1984/1985</h6>
                            <p class="card-text text-justify"> Publié en 2 tankōbon en 1985 et adapté en OAV par
                                les studios d'animation Pierrot en 1989.</p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center"> Jojo's Bizarre Adventure - 1987 à
                                aujourd'hui</h6>
                            <p class="card-text text-justify"> Publié dans le Weekly Shonen Jump entre 1987 et
                                2004, puis dans l'Ultra Jump depuis 2005.</p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center"> Entre 1989-2003</h6>
                            <p class="card-text text-justify">Araki écrit des scénarios illustrés par son
                                assistant Hirohisa Onikubo, publié sous forme de one-shot manga dans le
                                magazine Super Jump.</p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center">Shikei shikkōchū datsugoku shinkōchū -
                                1999</h6>
                            <p class="card-text text-center">Un recueil d'histoires courtes.</p>
                        </li>
                        <li class="list-group-item">
                            <h6 class="card-title font-weight-bold text-center">Rohan au Louvre - 2010</h6>
                            <p class="card-text text-justify"> Dans la collection du Musée du Louvre, pour un
                                partenariat préstigieux avec la marque Gucci en 2013.</p>
                        </li>


                    </ul>

                </div>
            </div>
        </div>
        {{!-- / Infos --}}

        {{!-- Section commentaires --}}
        <h2 class=" mt-5">Commentaires</h2>
        <div class="col-md-10 mt-5">
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="..." height="64" width="64" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Nom de l'utilisateur</h5>
                    <p class="small">...</p>
                </div>
            </div>
            {{!-- / Section commentaires --}}

            <!-- Comments Form -->
            <div class="card my-4">
                <h6 class="card-header smaller ">Laisser un commentaire:</h6>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- /Comments Form -->
    </div>
</section>
<!--/Author blog-->