{{!-- Author --}}
<section class="container mt-5">
    <div class="row">
        {{!-- Colonne contenu  --}}
        <div class="col-md-10">

            {{!-- Titre --}}
            <h1 class="mt-4 text-center">A propos de l'auteur</h1>

            {{!-- Image --}}
            <img class="img-fluid rounded" src="assets/images/H.Araki.jpg" alt="Hirohiko Araki">

            {{!-- News --}}
            <div class="p-4 mt-5 alert alert-primary" role="alert">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">News</h4>
                </div>

                <p class=" p-4 mb-3 rounded ">...</p>
            </div>
            {{!-- /News --}}

            {{!-- About --}}
            <div class="p-4 mt-5 alert alert-light" role="alert">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">A propos</h4>
                </div>

                <p class=" p-4 mb-3 rounded">...</p>
            </div>
            {{!-- / About --}}

            {{!-- Story --}}
            <div class="p-4 mt-5">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">Histoire</h4>
                </div>
                <p class=" p-4 mb-3 rounded">...</p>
            </div>
            {{!-- / Story --}}
        </div>

        {{!-- Info --}}
        {{!-- On est obliger de quitter le col-md-8 pour que le responcive puisse retrouver sa place --}}
        <div class="col-md-2 col-sm-12 sticky">
            <div class="row">
                <div class="card">

                    <img src="assets/images/H.Araki2.jpg" class="card-img-top" alt="">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 class="card-first-title font-weight-bolder">LISTE DES OEUVRES<h5>
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
        {{!-- / Infos --}}

        {{!-- Section commentaires --}}
        <h2 class=" mt-5">Commentaires</h2>
        <div class="col-md-10 mt-5">
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="" height="64" width="64" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Nom de l'utilisateur</h5>
                    <p class="small">...</p>
                </div>
            </div>
            {{!-- / Section commentaires --}}

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Laisser un commentaire:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-com">Envoyer</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- /Comments Form -->
    </div>
</section>
<!--/Author blog-->