<!--Author blog-->
<section class="container mt-5">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-md-10">

            <!-- Title -->
            <h1 class="mt-4 text-center">A propos de l'auteur</h1>

            <!-- Image -->
            <img class="img-fluid rounded" src="/assets/IMAGES/H.Araki.png" alt="">

            <!-- News -->

            <div class="p-4 mb-3 rounded text-white mt-5 bg-primary">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">News</h4>
                </div>

                <p class=" p-4 mb-3 rounded">Procedente igitur mox tempore cum adventicium nihil inveniretur,
                    relicta ora
                    maritima
                    in. Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera
                    praetenturis provincialium et viatorum opibus pascebantur Haec dum oriens diu perferret,
                    caeli
                    reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valentiam
                    petit,
                    in Gundomadum et Vadomarium fratres Alamannorum reges arma moturus, quorum crebris
                    excursibus
                    vastabantur confines limitibus terrae Gallorum.
                </p>
            </div>

            <!-- /News -->

            <!-- About -->

            <div class="p-4 mb-3 rounded" style="background-color: #f4f2f7;">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1"></h4>
                </div>

                <p class=" p-4 mb-3 rounded">" Procedente igitur mox tempore cum adventicium nihil inveniretur,
                    relicta ora
                    maritima
                    in. Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera
                    praetenturis provincialium et viatorum opibus pascebantur Haec dum oriens diu perferret,
                    caeli
                    reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valentiam
                    petit,
                    in Gundomadum et Vadomarium fratres Alamannorum reges arma moturus, quorum crebris
                    excursibus
                    vastabantur confines limitibus terrae Gallorum".
                </p>
            </div>

            <!-- About -->

            <p class=" p-4 mb-3 rounded">Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior
                laudato
                consilio
                consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam
                eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse
                plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate
                imperator
                Mediolanum ad hiberna discessit.

                Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius
                modi
                scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est,
                excedamus.

                Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et
                confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube
                tenus
                amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in
                tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel
                arborem
                colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque
                distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut
                tractus unius soli illis umquam placet.
            </p>

        </div>

        <!--Info-->
        <!-- On est obliger de quitter le col-md-8 pour que au responcive il puisse retrouver ça place -->
        <div class="col-md-2 col-sm-12 sticky">
            <div class="row">
                <div class="card">

                    <img src="/assets/IMAGES/Josuke8.jpg" class="card-img-top" alt="auteur jojo manga">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 class="card-first-title font-weight-bolder">LISTE DES OEUVRES<h5>
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">titre</h5>
                            <p class="card-text">Some quick example text to build on the card title</p>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!--/Infos-->

        <h2 class=" mt-5">Commentaires</h2>
        <div class="col-md-10 mt-5">
            <!--Comments section-->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle"
                    src="https://d3isma7snj3lcx.cloudfront.net/optim/images/gallery/34/342267/jojo-s-bizarre-adventure-last-survivor-arc-4c28c1e4__220_220__842-51-1247-457.jpg"
                    height="64" width="64" alt="">
                <div class="media-body">
                    <h5 class="mt-0">User Name</h5>
                    <p class="small"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                        sollicitudin.
                        Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                        nunc ac
                        nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle"
                            src="https://d3isma7snj3lcx.cloudfront.net/optim/images/gallery/34/342267/jojo-s-bizarre-adventure-last-survivor-arc-4c28c1e4__220_220__842-51-1247-457.jpg"
                            height="64" width="64" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">User Name</h5>
                            <p class="small"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante
                                sollicitudin.
                                Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                                nunc ac
                                nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /Comments section -->

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Laisser un commentaire:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-com">Envoyer</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- /Comments Form -->
    </div>
</section>
<!--/Author blog-->