{{!-- 
    Page Lost Password
    /lostpassword
--}}

{{#if success }}
<script>
    /*Ajout d'une promesse ".then" pour la redirection sur la page home*/
    swal({
        title: "",
        icon: "success"
    }).then(function () {
        window.location = "/";
    })
</script>
{{/if}}

<section>

    {{ message }}


    <div class="container mt-5">
        <div class="card-body mx-auto" style="max-width: 700px;">


            <h2 class="text-center">Création du nouveau mot de passe</h2>
            {{!-- <p class="text-center"> Rentres ton prénom et ton email pour la vérification de celui-ci</p>

            <form action="/verification" method="POST">


                <div class="form-group">
                    <label for="text" class="mt-2">Prénom</label>
                    <input type="text" class="form-control" placeholder="prénom" name="lastname" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email" required>
                </div>

                <div class="text-center mt-5 mb-5">
                    <button type="submit" class="btn btn-primary"> Envoyer </button>
                </div>
            </form> --}}

            {{!-- Form de edition du mot de passe --}}
            <form action="/editPassword/:id" method="POST">
                {{!-- Hidden --}}
                <input class="form-control" type="hidden" name='email' value='{{ mailOptions.to }}'>

                <div class="form-group mt-5">
                    <label for="exampleInputPassword1">Nouveau mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="mot de passe"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Attention ! Vérifies qu'il ne manque pas, 1 lettre miniscule, 1 lettre majuscule, 1 nombre, 1 cractère spécial et que le mot de passe fait bien 8 caractères."
                        required>
                </div>

                {{!-- confirmation du mot de passe --}}
                <div class="form-group">
                    <label for="exampleInputPassword2">Confirmes ton nouveau mot de passe</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control"
                        placeholder="confirmation du mot de passe" required>

                </div>

                {{!-- Message pour le mot de passe --}}
                <div id="message">
                    <p>Le mot de passe doit contenir au moins:</p>
                    <p id="letter" class="invalid">Une lettre <b>miniscule</b></p>
                    <p id="capital" class="invalid">Une lettre <b>majuscule</b></p>
                    <p id="number" class="invalid">Un <b>nombre </b></p>
                    <p id="length" class="invalid">Au minimum<b> 8 caractères</b></p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary"> Envoyer </button>
                </div>
            </form>
        </div>
    </div>
</section>



<!--------------------------->
<script>

    // Définir les variables
    const myInput = document.getElementById("password"),
        letter = document.getElementById("letter"),
        capital = document.getElementById("capital"),
        number = document.getElementById("number"),
        length = document.getElementById("length");

    // Lorsque l'utilisateur clique sur le champ du mot de passe, la boîte de dialogue "message" apparaît
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // Lorsque l'utilisateur clique en dehors du champ du mot de passe, la boîte de dialogue "message" disparaît
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // Lorsque l'utilisateur commence à taper quelque chose dans le champ du mot de passe
    myInput.onkeyup = function () {
        // Validation des lettres minuscules
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validation des lettres majuscules
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validation des nombres
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validation de la longueur du mot de passe ici, fixé à 8 caractères
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>

<style>
    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        font-size: 13px;
    }

    /* couleur verte lorsque c'est ok */
    .valid {
        color: #7cff01;
        /*background: #b10adb;*/
    }

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

    /* couleur rouge lorsqu'il y a une erreur */
    .invalid {
        color: #FE0000;

    }

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }
</style>