<!--Error 404-->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="error-404" style="margin: auto; text-align: center;">
                <div class="error-code" style="font-size: 100px; bottom: 60%;"><i class="fa fa-warning"></i></div>
                <img src="https://i.ytimg.com/vi/HmYobMVcLAg/maxresdefault.jpg" height="200" width=""
                    class="image-fluid" alt="">
                <h2> Erreur 404 !</h2>
                <h2>Page introuvable.</h2>

                <div class="error-desc" style="font-size: 13px;">
                    Excitatur Orfitus forensium seditiones vulgus asperos sese sed asperos et decuera. <br />
                    Haec subinde Constantius audiens et quaedam referente.
                    <div><br />
                        <a href="/" class="btn btn-primary"><span
                                class="glyphicon glyphicon-home"></span>Retour à la page d'acceuil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Error 404-->