{{!-- Images --}}
<section>
    <div class="container mt-5">
        <h1 style="text-align: center;" class="">Gallery d'images</h1>
        <p class="" style="text-align: center;">Et olim licet otiosae sint tribus pacataeque centuriae et nulla
            suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt
            partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities
            populique Romani nomen circumspectum et verecundum.
        </p>
        <div class="form-group mb-4">
            <input id="exampleFormControlInput1" type="email" placeholder="Que cherchez-vous ?"
                class="form-control form-control-underlined">
        </div>




        {{!--  Pagination  --}}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        {{!-- / Pagination --}}