<!--Login-->
<section>
    <div class="container mt-5">
        <div class="card-body mx-auto" style="max-width: ;">
          
                <div class="row">
                    <aside class="col-sm-4">
                        <h1 style="text-align: center;">Login</h1>
                        <div class="card">
                            <img src="/assets/IMAGES/kira.png" alt="image">
                            <div class="card-body">
                                <a href="" class="float-right btn btn-outline-primary">Logout</a>
                                <h4 class="card-title mb-4 mt-1"></h4>

                                <form>
                                    <div class="form-group">
                                        <label for="email">E-Mail</label>
                                        <input id="email" type="email" class="form-control" name="email" value=""
                                            required autofocus>
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password
                                        </label>
                                        <!--Modal button-->
                                        <a href="#" type="text" class=" text-primary" data-toggle="modal"
                                            data-target="#exampleModal" style="float: right;">
                                            Forgot password ?
                                        </a>
                                        <!--/Modal button-->
                                        <input id="password" type="password" class="form-control" name="password"
                                            required data-eye>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" name="remember" id="remember"
                                                class="custom-control-input">
                                            <label for="remember" class="custom-control-label">Remeber
                                                Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Login
                                        </button>
                                    </div>
                                    <div class="mt-4 text-center">
                                        Don't have an account? <a href="/register">Create One</a>
                                    </div>
                                    <!--Modal-->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Forgot
                                                        password ?
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Inter haec Orfitus praefecti potestate regebat urbem
                                                    aeternam
                                                    ultra modum delatae dignitatis sese efferens insolenter, vir
                                                    quidem prudens et forensium negotiorum oppido gnarus, sed
                                                    splendore liberalium doctrinarum minus quam nobilem decuerat
                                                </div>
                                                <!--Form-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="form_email">Email *</label>
                                                        <input id="form_email" type="email" name="email"
                                                            class="form-control" placeholder="Please enter your email *"
                                                            required="required" data-error="Valid email is required.">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <!--/Form-->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary btn-lg btn-block">Reset
                                                        password</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Modal-->
                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Login-->