{{! login }}
<section class="mt-5">
    <div class="container">
        <h1 class="text-center display-4">
            Se connecter
        </h1>
        <form action="/login">
            <div class="form-group justify-content-center mt-5">
                <label for="exampleInputEmail">
                    Email
                </label>
                <input type="email" class="form-control" placeholder="email" id="exampleInputEmail"
                    aria-describedby="emailHelp" value="{{email}}" />
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">
                    Mot de passe
                </label>
                <input type="password" class="form-control" placeholder="password" id="exampleInputPassword"
                    value="{{password}}" />
            </div>
            <button type="submit" class="btn">
                Envoyer
            </button>
        </form>
    </div>
</section>
{{! /login }}