{{! login }}
{{#if error }}
<script>
    swal({
        title: "Attention !",
        text: "Une erreur est survenue, vérifies ton identifiant et ton mot de passe.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
</script>
{{/if}}

{{#if success }}
<script>
    /*Ajout d'une promesse ".then" pour la redirection sur la page home*/
    swal({
        title: "Goooooood !",
        icon: "success"
    }).then(function () {
        window.location = "/";
    }).then(function () {
        window.location = "/admin";
    })
</script>
{{/if}}

<section class="mt-5">
    <div class="container">
        <div class="card-body mx-auto" style="max-width: 700px;">
            <h1 class="text-center">
                Se connecter
            </h1>
            <form action="/auth" method="POST">
                <div class="form-group justify-content-center mt-5">
                    {{!-- Input email --}}
                    <label for="exampleInputEmail">
                        Email
                    </label>
                    <input type="email" class="form-control" placeholder="email" id="exampleInputEmail"
                        aria-describedby="emailHelp" name="email" value="{{ email }}" required>
                </div>

                {{!-- Input password --}}
                <div class="form-group">
                    <label for="password">
                        Mot de passe
                    </label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div type="button" class="input-group-text toggle" id="btnToggle"><i
                                    class="fas fa-eye-slash" id="eyeIcon"></i></div>
                        </div>
                        <input type="password" class="form-control" placeholder="mot de passe" id="password"
                            name="password" value="{{ password }}" required>
                    </div>
                </div>

                {{!-- Modal forgotPassword --}}
                <div class="forgot-password text-right">
                    <a data-toggle="modal" data-target="#forgotPassword" href="#" rel="nofollow">
                        Mot de passe oublié ?
                    </a>
                </div>

                {{!-- Pour voir le mot de passe --}}
                <script>
                    let passwordInput = document.getElementById('password'),
                        toggle = document.getElementById('btnToggle'),
                        icon = document.getElementById('eyeIcon');

                    function togglePassword() {
                        if (passwordInput.type === 'password') {
                            passwordInput.type = 'text';
                            icon.classList.add("fas fa-eye-slash");
                        } else {
                            passwordInput.type = 'password';
                            icon.classList.remove("fas fa-eye-slash");
                        }
                    }
                    toggle.addEventListener('click', togglePassword, false);
                    passwordInput.addEventListener('keyup', checkInput, false);
                </script>

                {{!-- Input button --}}
                <button type="submit" class="btn btn-primary text-center">
                    Envoyer
                </button>
            </form>

            <div class="mt-2">
                <a href="/register" data-link-action="display-register-form">
                    Vous n'avez pas de compte ?
                </a>
            </div>
        </div>
    </div>
</section>
{{! /login }}


<!--------------------------------->

{{!-- modal mot de passe oublié --}}
<div class="modal fade" id="forgotPassword" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Mot de passe oublié ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{!-- formulaire mot de passe oublié --}}
            <form action="/lostpassword" method="POST">
                <div class="container">
                    <div class="form-group mt-5">
                        <label for="exampleInputEmail1">Entre ton adresse e-mail:</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="email" required>
                        <small id="emailHelp" class="form-text text-muted">Afin que tu puisse recevoir un nouveau mot de
                            passe, j'ai besion de ton adresse email.</small>
                    </div>

                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </form>
            {{!-- /formulaire --}}
        </div>
    </div>
</div>
{{!-- modal --}}