{{!-- Form --}}
<section>
    </br>
    <div class="container mt-5">
        <h1 class="text-center">Envoyer un message</h1>
        <div class="card-body mx-auto" style="max-width: 700px;">
            <p class="text-center mt-5">Pour toutes questions relatives au site ou à mon point vu sur le manga, vous avez la
                possibilité de
                m'envoyer un message ci-dessous:</p>
            <form action="/nodemailer" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="firstname">Nom</label>
                        <input type="text" id="firstname" class="form-control" name="firstname" placeholder="firstname">
                    </div>
                    <div class="col">
                        <label for="lastname">Prénom</label>
                        <input type="text" id="lastname" class="form-control" name="name" placeholder="lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="subject">Sujet</label>
                    <input type="text" id="subject" class="form-control" name="subject" placeholder="subject">
                </div>
                <div class="form-group">
                    <label for="massage">Message</label>
                    <textarea class="form-control" id="message" name="message" placeholder="message"
                        rows="3"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>
{{!-- /Form --}}