<!--Profile-->

<section>

    <div class="container">

        <h1 style="text-align: center;">Create your profile</h1>

        <p class="lead" style="text-align: center;"> Post quorum necem nihilo lenius ferociens Gallus ut leo
            cadaveribus pastus
            multa
            huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod
            evitandum
            est, excedamus.</p>

        <!--Info-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="list-group ">
                        <div class="text-center">
                            <img src="https://i.kym-cdn.com/photos/images/original/001/221/740/41e.jpg"
                                class="avatar rounded img-thumbnail" alt="avatar">
                            <h6>Upload</h6>
                            <input type="file" class="">
                        </div>
                        <div class="text-center center-block">
                            <br>
                            <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                            <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                            <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                            <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#staticBackdrop"> Delete your account
                    </button>
                    <!-- /Button trigger modal -->
                </div>

                <!--Modal-->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete your account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <p> trium sententiarum nulli prorsus assentior. Nec
                                    enim illa
                                    prima vera est, ut,
                                    quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim,
                                    quae
                                    nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno,
                                    supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in
                                    nostris.</p>

                                <div class="row" style="margin-top: 20px;">
                                    <div class="col">
                                        <label for="email">Username</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" class="form-control" name="email" value=""
                                            required autofocus>
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 20px;">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control" name="password" required
                                        data-eye>
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-lg btn-block">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Modal-->

                <!--/Info-->

                <!--Form-->
                <div class="col-md-9 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Your Profile</h4>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-group row">
                                            <label for="username" class="col-4 col-form-label">User Name
                                                *</label>
                                            <div class="col-8">
                                                <input id="username" name="username" placeholder="Username"
                                                    class="form-control here" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="name" class="col-4 col-form-label">First Name</label>
                                            <div class="col-8">
                                                <input id="name" name="name" placeholder="First Name"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                            <div class="col-8">
                                                <input id="lastname" name="lastname" placeholder="Last Name"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="website" class="col-4 col-form-label">Favorite
                                                arc</label>
                                            <div class="col-8">
                                                <input id="Favorite arc" name="Favorite arc" placeholder="Favorite arc"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="text" class="col-4 col-form-label">Favorite
                                                Stand</label>
                                            <div class="col-8">
                                                <input id="text" name="text" placeholder="Favorite stand"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="select" class="col-4 col-form-label">Favorite
                                                character</label>
                                            <div class="col-8">
                                                <input id="text" name="text" placeholder="Favorite character"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-4 col-form-label">Email *</label>
                                            <div class="col-8">
                                                <input id="email" name="email" placeholder="Email"
                                                    class="form-control here" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="info" class="col-4 col-form-label">Information</label>
                                            <div class="col-8">
                                                <textarea id="info" name="info" cols="40" rows="4"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="newpass" class="col-4 col-form-label">Password *</label>
                                            <div class="col-8">
                                                <input id="pass" name="pass" placeholder="Password"
                                                    class="form-control here" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-4 col-8">
                                                <button name="submit" type="submit" class="btn btn-primary">Update
                                                    My Profile</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--/Form-->