{{!-- Inscription --}}
{{#if error }}
<script>
     swal({
        title: "Oops !",
        text: "Tu es déjà inscrit !",
        icon: "error",
        buttons: true,
        dangerMode: true,
    });
     swal({
        title: "Attention !",
        text: "N'oublies pas de remplir correctement les champs.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
</script>
{{/if}}

{{#if success }}
<script>
    swal("Félicitation ! Ton compte à bien été créé !", "Bienvenue sur Jojo's World.", "success")
</script>
{{/if}}

<section class="mt-5">
    <div class="container mt-5">
        <div class="card-body mx-auto" style="max-width: 700px;">
            <h1 class="card-title mt-3 text-center display-4">Créer un compte</h1>

            <p class="small" style="text-align: center;">...</p>

            <form action="/create" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="text">Nom</label>
                        <input type="text" class="form-control" placeholder="firstname" name="firstname">
                    </div>
                    <div class="col">
                        <label for="text">Prénom</label>
                        <input type="text" class="form-control" placeholder="lastname" name="lastname">
                    </div>
                </div>

                <div class="col">
                    <label for="email">Pseudo</label>
                    <input type="text" class="form-control" placeholder="pseudo" name="pseudo" required>
                </div>

                <div class="col">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="email" name="email" required>
                </div>

                <div class="col">
                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" placeholder='password' class="form-control" name="password"
                        required>
                </div>

                {{!-- Confirmer le password --}}
                <div class="col">
                    <label for="password">Confirmer le mot de passe</label>
                    <input id="password" type="password" placeholder="passwordConfirm" class="form-control"
                        name="passwordConfirm" required>
                    <div class="invalid-feedback">
                    </div>
                </div>


                {{!--  Boutton envoyer --}}
                <button type="submit" class="btn btn-primary text-white btn-block mt-5">
                    Valider
                </button>

                <p class="text-center mt-5">
                    <span class="font-weight-bold">OU</span>
                </p>

                <p>
                    {{!-- Réseaux sociaux --}}
                    <a href="https://www.google.com/account/about/" target="_blank"
                        class="btn btn-danger btn-block btn-social-danger"><i class="fa fa-google"></i> Créer votre
                        compte avec
                        <b>Google</b></a>
                    <a href="https://www.facebook.com/" target="_blank"
                        class="btn btn-primary btn-block btn-social-primary"><i class="fa fa-facebook"></i> Créer votre
                        compte avec
                        with <b>Facebook</b></a>
                    <a href="https://twitter.com/login?lang=fr" target="_blank"
                        class="btn btn-info btn-block btn-social-info"><i class="fa fa-twitter"></i> Créer votre compte
                        avec
                        <b>Twitter</b></a>
                </p>
            </form>
        </div>
    </div>
</section>
{{!-- /Inscription --}}