<!--Register-->

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="https://vignette.wikia.nocookie.net/jjba/images/4/47/Kira_JJL_and_Killer_Queen.png/revision/latest?cb=20180728193729"
                            height="350" width="" alt="image">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <form method="POST" class="my-login-validation" novalidate="">
                                <div class="row">
                                    <div class="col">
                                        <label for="text">Fist Name</label>
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <label for="text">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                            </form>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col">
                                    <label for="email">Username</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" value="" required
                                        autofocus>
                                    <div class="invalid-feedback">
                                        Email is invalid
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control" name="password" required
                                    data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

</body>
</div>

<!--buttons-->
<div class="form-group m-0">
    <button type="submit" class="btn btn-primary btn-block">
        Register
    </button>
</div>

<!--Socials buttons-->
<div class="or-seperator"><i>or</i></div>
<a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with
    <b>Google</b></a>
<a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in
    with <b>Facebook</b></a>
<a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with
    <b>Twitter</b></a>
<div class="mt-4 text-center">
    Already have an account? <a href="/login">Login</a>
</div>
<a style="text-align: center; margin-top: 20px;" href="/profile">CREATE YOUR PROFILE</a>
</form>


<style>
    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    .or-seperator i {
        padding: 0 10px;
        position: relative;
        top: -11px;
        z-index: 1;
    }
</style>
</section>

<!--/Register-->