{{!-- Inscription --}}
{{#if success }}
<script>
    /*Ajout d'une promesse ".then" pour la redirection sur la page home*/
    swal({
        title: "Fécilitation !",
        text: "Ton compte a bien été créé. Merci.",
        icon: "success"
    }).then(function () {
        window.location = "/";
    })
</script>
{{/if}}

<section class="mt-5">
    <div class="container mt-5">
        <div class="card-body mx-auto" style="max-width: 700px;">
            <h1 class="card-title mt-3 text-center">Créer un compte</h1>

            <p class="small" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            </p>

            <form action="/create" method="POST">

                <div class="col">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="firstname" name="firstname">
                </div>
                <div class="col">
                    <label class="mt-2">Prénom</label>
                    <input type="text" class="form-control" placeholder="lastname" name="lastname">
                </div>


                <div class="col">
                    <label class="mt-2">Pseudo</label>
                    <input type="text" class="form-control" placeholder="pseudo" name="pseudo" required>
                </div>

                <div class="col">
                    <label for="email" class="mt-2">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="email" name="email" required>
                </div>

                <div class="col">
                    <label for="password" class="mt-2">Mot de passe</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text toggle"><label for="inputPasswordCreate"><i id="stylePw"
                                        type="button" style="color:#000000;background:transparent;float: right;"
                                        onclick="togglePwd('inputPasswordCreate','stylePw');"
                                        class="far fa-eye-slash"></i></label></div>

                        </div>

                        <input name="password" type="password" id="inputPasswordCreate" placeholder='Mot de passe'
                            class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Attention ! Vérifies qu'il ne manque pas, 1 lettre miniscule, 1 lettre majuscule, 1 nombre, 1 cractère spécial et que le mot de passe fait bien 8 caractères."
                            required>
                    </div>
                </div>


                {{!-- Confirmer le password --}}
                <div class="col">
                    <label for="password" class="mt-2">Confirmer le mot de passe</label>
                    <input id="passwordConfirm" type="password" placeholder="Confirmes le..." class="form-control"
                        name="password" required>
                    <div class="invalid-feedback">

                    </div>
                </div>

                {{!-- Pour voir le mot de passe --}}
                <script type="text/javascript">
                    function togglePwd(id, idStyle) {
                        let x = document.getElementById(id);
                        let icon = document.getElementById(idStyle);
                        if (x.type === "password") {
                            x.type = "text"
                            icon.classList.remove("fa-eye-slash")
                            icon.classList.add("fa-eye")
                        } else {
                            x.type = "password"
                            icon.classList.remove("fa-eye")
                            icon.classList.add("fa-eye-slash")
                        }
                    }
                </script>

                {{!-- Message pour le mot de passe --}}
                <div id="message">
                    <p>Le mot de passe doit contenir au moins:</p>
                    <p id="letter" class="invalid">Une lettre <b>miniscule</b></p>
                    <p id="capital" class="invalid">Une lettre <b>majuscule</b></p>
                    <p id="number" class="invalid">Un <b>nombre </b></p>
                    <p id="length" class="invalid">Au minimum<b> 8 caractères</b></p>
                </div>


                {{!-- Boutton envoyer --}}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-white mt-5">
                        Valider
                    </button>
                </div>


                <!--==========================-->


                <script>

                    // Définir les variables
                    const myInput = document.getElementById("inputPasswordCreate"),
                        letter = document.getElementById("letter"),
                        capital = document.getElementById("capital"),
                        number = document.getElementById("number"),
                        length = document.getElementById("length");

                    // Lorsque l'utilisateur clique sur le champ du mot de passe, la boîte de dialogue "message" apparaît
                    myInput.onfocus = function () {
                        document.getElementById("message").style.display = "block";
                    }

                    // Lorsque l'utilisateur clique en dehors du champ du mot de passe, la boîte de dialogue "message" disparaît
                    myInput.onblur = function () {
                        document.getElementById("message").style.display = "none";
                    }

                    // Lorsque l'utilisateur commence à taper quelque chose dans le champ du mot de passe
                    myInput.onkeyup = function () {
                        // Validation des lettres minuscules
                        var lowerCaseLetters = /[a-z]/g;
                        if (myInput.value.match(lowerCaseLetters)) {
                            letter.classList.remove("invalid");
                            letter.classList.add("valid");
                        } else {
                            letter.classList.remove("valid");
                            letter.classList.add("invalid");
                        }

                        // Validation des lettres majuscules
                        var upperCaseLetters = /[A-Z]/g;
                        if (myInput.value.match(upperCaseLetters)) {
                            capital.classList.remove("invalid");
                            capital.classList.add("valid");
                        } else {
                            capital.classList.remove("valid");
                            capital.classList.add("invalid");
                        }

                        // Validation des nombres
                        var numbers = /[0-9]/g;
                        if (myInput.value.match(numbers)) {
                            number.classList.remove("invalid");
                            number.classList.add("valid");
                        } else {
                            number.classList.remove("valid");
                            number.classList.add("invalid");
                        }

                        // Validation de la longueur du mot de passe ici, fixé à 8 caractères
                        if (myInput.value.length >= 8) {
                            length.classList.remove("invalid");
                            length.classList.add("valid");
                        } else {
                            length.classList.remove("valid");
                            length.classList.add("invalid");
                        }
                    }
                </script>

                <!--==========================-->

                {{!-- Réseaux sociaux --}}

                {{!-- <p class="text-center mt-5">
                    <span class="font-weight-bold">OU</span>
                </p>

                <p class="mt-5">
                    <a href="https://www.google.com/account/about/" target="_blank"
                        class="btn btn-danger btn-block btn-social-danger"><i class="fab fa-google"></i> Créer votre
                        compte avec
                        <b>Google</b></a>
                    <a href="https://www.facebook.com/" target="_blank"
                        class="btn btn-primary btn-block btn-social-primary"><i class="fab fa-facebook-f"></i> Créer
                        votre
                        compte avec
                        with <b>Facebook</b></a>
                    <a href="https://twitter.com/login?lang=fr" target="_blank"
                        class="btn btn-info btn-block btn-social-info"><i class="fab fa-twitter"></i> Créer votre
                        compte
                        avec
                        <b>Twitter</b></a>
                </p> --}}
            </form>
        </div>
    </div>
</section>
{{!-- /Inscription --}}