<section>
    <div class="container">
        <h6 class="text-center text-white">Ajouter un pouvoir</h6>
        {{!--Ajout de l'url et de la méthode--}}
        <form action="/admin/powers" method="POST" enctype="multipart/form-data">

            {{!-- Input Name --}}
            <div class="form-group">
                <label for="text">Nom de la capacité (stand ou autres ...)</label>
                <input type="text" class="form-control" name="name">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label>Son apparence</label>
                <textarea class="ckeditor" id="editor8" name="content1"></textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    const ed8 = CKEDITOR.replace('editor8', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        //uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });

                    ed8.on('change', function (e) {// Modification du contenu de l'éditeur
                        console.log(e.editor.getData())
                    })
                </script>
            </div>

            {{!-- Input Titre --}}
            <div class="form-group">
                <label for="text">Type de pouvoir (stand ou autres...)</label>
                <input type="text" class="form-control" name="title1">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label>Description de sa ou ses capacité(s)</label>
                <textarea class="ckeditor" id="editor9" name="content2"></textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    CKEDITOR.replace('editor9', {
                        entities: false, // Pour la suppression des caractères spéciaux
                       // uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });
                </script>
            </div>

            {{!-- Input Titre --}}
            <div class="form-group">
                <label for="text">Son histoire</label>
                <input type="text" class="form-control" name="title2">
            </div>

            {{!-- Input Contenu --}}
            <div class="form-group">
                <label>Description de sa personnalité + son histoire</label>
                <textarea class="ckeditor" id="editor10" name="content3"></textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    CKEDITOR.replace('editor10', {
                        entities: false, // Pour la suppression des caractères spéciaux
                       // uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                    });
                </script>
            </div>

            {{!-- Images --}}
            <div class="form-group">
                <label>Envoyer une image au format jpeg</label>
                <input type="file" class="form-control-file" name="image">
            </div>

            {{!-- Bouttons --}}
            <div class="text-center">
                <button type="submit" class="btn btn-ok"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
</section>