<section>
    <h1 class="text-center text-dark">Suppression Powers</h1>
    <div class="container">
        {{!-- Bouton de suppression--}}
        <form class="text-center" action="/admin/deletePowers/{{_id}}" method="GET" class="mt-2">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
</section>