<div class="action">
    <h1 class="text-center">Supprimer un commentaire</h1>
    {{!-- Suppression d'un commentaire --}}
    <form class="mt-2 text-center" action="/deleteComments/{{ _id }}" method="GET">
        <button class="btn-sm btn btn-danger" type="submit">Supprimer</button>
    </form>
</div>