{{!-- Partial liste des commentaires --}}
<section>
    <div class="col-md-10 mt-5">
        {{#each comments  }}
        <ul class="list-group mt-2">
            <li class="list-group-item">
                {{!-- <div class="col-xs-2 col-md-1">
                            <img src="" class="img-circle img-responsive" alt="" /></div> --}}

                <h6>Par: {{author}}</h6>
                <p class="card-text text-muted"><small>le:
                        {{ moment createDate format='DD/MM/YYYY à HH:mm:ss' }}</small>
                </p>
                <br>
                <p>{{ comment }}</p>
                <div class="action">
                    {{!-- Suppression d'un commentaire --}}
                    {{#ifCond ../session.userId authorId }}
                    <div class="container">
                        <form class="mt-2" action="/deleteComments/{{ ../_id }}" method="GET">
                            <button type="submit" class="btn btn-delete"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    {{/ifCond}}
                </div>
            </li>
            {{/each }}
        </ul>
    </div>
</section>