{{!-- modalAddManga --}}
<div class="modal fade" id="modalAddManga{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body-admin">
        <p>{{> admin/manga/mangaFormAdd}}</p>
      </div>
    </div>
  </div>
</div>
{{!-- /modalAddManga --}}