{{!-- modalDeleteManga --}}
<div class="modal fade" id="modalDeleteManga{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body-admin">
        {{> admin/manga/DeleteFormManga }}
      </div>
    </div>
  </div>
</div>

{{!-- /modalDeleteManga --}}