<section>
    <div class="container">
        <h6 class="text-center text-white">Ajouter un personnage</h6>
        {{!--Ajout de l'url et de la méthode--}}
        <form action="/admin/characters" method="POST" enctype="multipart/form-data">

            {{!-- Input Nom du personnage --}}
            <div class="form-group">
                <label for="text">Nom du personnage</label>
                <input type="text" class="form-control" name="name">
            </div>

            {{!-- Input du Pouvoir --}}
            <select class="custom-select custom-select-sm" name="powers">
                <option>Selectionner un pouvoir</option>
                {{#each powers }}
                <option value="{{ _id }}">{{ name }}</option>
                {{/each }}
            </select>

            {{!-- Input Contenu --}}
            <div class="form-group mt-2">
                <label for="exampleInputTextarea">Introduction du personnage</label>
                <textarea class="ckeditor" id="editor6" name="content"></textarea>
                {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
                <script>
                    const chara = CKEDITOR.replace('editor6', {
                        entities: false, // Pour la suppression des caractères spéciaux
                        //uiColor: '#FFF205' // Coloriser les bordures de l'éditeur
                        
                    });

                    chara.on('change', function (e) {//modification du contenu de l'éditeur
                        console.log(e.editor.getData())
                    })
                </script>
            </div>

            {{!-- Images --}}
            <div class="form-group">
                <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
                <input type="file" class="form-control-file" name="image">
            </div>

            {{!-- Bouttons --}}
            <div class="text-center">
                <button type="submit" class="btn btn-ok"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
</section>