<section>
    <h1 class="text-center text-dark">Ajouter Characters</h1>
    {{!--Ajout de l'url et de la méthode--}}
    <form action="/admin/characters" method="POST" enctype="multipart/form-data">

        {{!-- Input Nom du personnage --}}
        <div class="form-group">
            <label for="text">Nom du personnage</label>
            <input type="text" class="form-control" id="exampleInput" name="name">
        </div>

        {{!-- Input du Pouvoir --}}
        <select class="custom-select custom-select-sm" name="powers">
            <option>Selectionner un pouvoir</option>
            {{#each powers }}
            <option value="{{ _id }}">{{ name }}</option>
            {{/each }}
        </select>

        {{!-- Input Contenu --}}
        <div class="form-group">
            <label for="exampleInputTextarea">Introduction du personnage</label>
            <textarea class="form-control" id="chara" name="content"></textarea>
            {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
            <script>
                const chara = CKEDITOR.replace('chara', {
                    entities: false, // Pour la suppression des caractères spéciaux
                    uiColor: '#B22234' // Coloriser les bordures de l'éditeur
                });

                chara.on('change', function (e) {//modification du contenu de l'éditeur
                    console.log(e.editor.getData())
                })
            </script>
        </div>

        {{!-- Images --}}
        <div class="form-group">
            <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
            <input type="file" class="form-control-file" name="image">
        </div>

        {{!-- Boutons --}}
        <div>
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="submit" class="btn btn-secondary">Annuler</button>
        </div>
    </form>
</section>