<section>
    {{!--Ajout de l'url et de la méthode--}}
    <form action="/admin/characters" method="POST" enctype="multipart/form-data">

        {{!-- Input Nom du personnage --}}
        <div class="form-group">
            <label for="text">Nom</label>
            <input type="text" class="form-control" id="exampleInput" name="name">
        </div>

        {{!-- Input du Pouvoir --}}
        <select class="custom-select custom-select-sm" name="powers">
            <option>Selectionner un pouvoir</option>
            {{#each powers }}
            <option value="{{ _id }}">{{ name }}</option>
            {{/each }}
        </select>

        {{!-- Input Contenu --}}
        <div class="form-group">
            <label for="exampleInputTextarea">Contenu</label>
            <textarea class="form-control" id="content" placeholder="example textarea" name="content"></textarea>
            {{!-- Rajout de l'éditeur de texte "CKeditor" --}}
            <script>
                const ed = CKEDITOR.replace('content', {
                    entities: false, //pour la suppression des caractères spéciaux
                    //uiColor: '#00000' //Coloriser les bordures de l'éditeur
                });

                ed.on('change', function (e) {//modification du contenu de l'éditeur
                    console.log(e.editor.getData())
                })
            </script>
        </div>

        {{!-- Images --}}
        <div class="form-group">
            <label for="exampleFormControlFile1">Envoyer une image au format jpeg</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
        </div>

        {{!-- Boutons --}}
        <div>
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="submit" class="btn btn-secondary">Annuler</button>
        </div>
    </form>
</section>