<section>
    <div class="container">
        <h6 class="text-center text-white">Suppression d'un personnage</h6>
        {{!-- Bouton de suppression--}}
        <form class="text-center" action="/admin/deleteCharacters/{{ _id }}" method="GET" class="mt-2">
            <button type="submit" class="btn btn-delete mt-2"><i class="fas fa-trash-alt"></i></button>
        </form>
    </div>
</section>