<section>
    <div class="container">
        <h1 class="text-center text-dark">Ajouter un utilisateur</h1>
        {{!--Ajout de l'url et de la méthode--}}
        <form action="/admin/createUsers" method="POST" enctype="multipart/form-data">

            {{!-- Input Nom--}}
            <div class="form-group">
                <label for="text">Nom</label>
                <input type="text" class="form-control" id="exampleInput1" name="firstname">
            </div>

            {{!-- Input Prénom--}}
            <div class="form-group">
                <label for="text">Prénom</label>
                <input type="text" class="form-control" id="exampleInput2" name="lastname">
            </div>

            {{!-- Input Email --}}
            <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email">
  </div>

  {{!-- Input Mot de passe --}}
<div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

            {{!-- Bouttons --}}
            <div>
                <button type="submit" class="btn btn-primary">Valider</button>
                <button type="submit" class="btn btn-secondary">Annuler</button>
            </div>
        </form>
    </div>
</section>