<section>
    <h1 class="text-center text-dark">Suppression News</h1>
    <div class="container">
        <form class="text-center" action="/admin/deleteNews/{{ _id }}" method="GET">
            <button type="submit" class="btn btn-danger mt-2">Supprimer</button>
        </form>
    </div>
</section>