{{!-- modalAddComments --}}
<div class="modal fade" id="modalAddComments{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body-admin">
        <p>{{> comments/addComments}}</p>
      </div>
    </div>
  </div>
</div>
{{!-- /modalAddComments --}}
