{{!-- modalDeleteCharacter --}}
<div class="modal fade" id="modalDeleteCharacters{{ _id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
      </div>
      <div class="modal-body-admin">
        {{> admin/character/formDelete }}
      </div>
    </div>
  </div>
</div>
{{!-- /modalDeleteCharacter --}}