{{!-- modalDeleteCharacter --}}
<div class="modal fade" id="modalDeleteCharacters{{ _id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body-admin">
        {{> admin/character/formDelete }}
      </div>
    </div>
  </div>
</div>
{{!-- /modalDeleteCharacter --}}