{{!-- <main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </nav>
  </aside>
</main> --}}