<!--Setting-->

<section>
    <!--Fonts-->
    <div class="box">
        <div class="container">

            <h1 style="text-align: center;" class="display-4">Fonts</h1>
            <p style="text-align: center;">Et olim licet otiosae sint tribus pacataeque centuriae et nulla
                suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt
                partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities
                populique Romani nomen circumspectum et verecundum.
            </p>
            <br>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>SF Pro</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>

                <!---->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>SF Compact</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>

                <!---->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>Lato</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>

                <!---->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>Roboto</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>

                <!---->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>Arial</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>

                <!---->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-5">
                    <div class="box-part text-center">
                        <div class="title">
                            <h4>Cantarell</h4>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr
                                scripta ocurreret qui ad.</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">See</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Fonts-->
        <br>

        <!--Colors-->
        <div class="container mt-5">
            <h1 style="text-align: center;" class="display-4">Colors</h1>
            <p style="text-align: center;">Et olim licet otiosae sint tribus pacataeque centuriae et nulla
                suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt
                partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities
                populique Romani nomen circumspectum et verecundum.
            </p>


            <h1 class="blue" style="color: white;">Ocean blue</h1>
            <h1 class="indigo" style="color: white;">Indigo</h1>
            <h1 class="red" style="color: white;">Rosso Corsa</h1>
        </div>
        <!--/Colors-->
        <br>

        <!--Paragraph text-->
        <div class="container mt-5">
            <h1 style="text-align: center;" class="display-4">Paragraph text</h1>
            <div class="row">
                <div class="col-xs-12 mt-5">
                    <p class="text-uppercase">First things first – your privacy is important to us. We know that’s what
                        all these kinds of notices say, but we really mean it. You’ve placed your trust in us by using
                        sketchucation.com services, and we value that trust. That means we’re committed to protecting
                        and safeguarding any personal data you give us.</p>
                    <p class="font-weight-normal">This document describes how we use and process your personal data,
                        hopefully presented in a readable and transparent way so you can understand where we’re coming
                        from without getting bored. As an added bonus, it also tells you how to contact us if you have
                        questions about your personal data, which we’re more than happy to answer. Please also read our
                        separate Cookie Statement, which tells you how sketchucation.com uses cookies and other similar
                        technologies.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="font-italic">If you’ve ever used our services before, you know that sketchucation.com
                        offers online services through our own website and SketchUp extensions, as well as through other
                        online platforms like partners’ websites and social media. Why mention every one of these? It's
                        good to know that all the information that follows applies to not one, not two, but all of these
                        platforms. We have several platforms, but one Privacy Statement.</p>
                    <p class="font-weight-bold">If you’ve ever used our services before, you know that sketchucation.com
                        offers online services through our own website and SketchUp extensions, as well as through other
                        online platforms like partners’ websites and social media. Why mention every one of these? It's
                        good to know that all the information that follows applies to not one, not two, but all of these
                        platforms. We have several platforms, but one Privacy Statement.</p>
                </div>
            </div>


            <br>
            <!--/Paragraph text-->
            <!--/Setting-->


            <style>
                .blue {
                    background-color: #412ecb;
                }

                .indigo {
                    background-color: #4B007D;
                }

                .red {
                    background-color: #d22d16;
                }
            </style>


</section>