<!--Users list-->
<section>
    <div class="container">

        <h1 style="text-align: center;" class="display-4">Users list</h1>
        <p style="text-align: center;">Et olim licet otiosae sint tribus pacataeque centuriae et nulla
            suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt
            partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities
            populique Romani nomen circumspectum et verecundum.
        </p>
        <div class="form-group mb-4">
            <input id="exampleFormControlInput1" type="email" placeholder="What're you searching for?"
                class="form-control form-control-underlined">
        </div>

        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="table table-sm">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-dark table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">Usernames<i class=""></i></th>
                        <th scope="col">First names<i class=""></i></th>
                        <th scope="col">Last names</th>
                        <th scope="col">Emails <i class=""></i></th>
                        <th scope="col">Passwords</th>
                        <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-dark">
                        <td><input type="text" class="form-control bg-dark" placeholder="id" /></td>
                        <td><input type="text" class="form-control bg-dark" placeholder="Username" /></td>
                        <td><input type="text" class="form-control bg-dark" placeholder="First name" /></td>
                        <td><input type="text" class="form-control bg-dark" placeholder="Last name" /></td>
                        <td><input type="text" class="form-control bg-dark" placeholder="Email" /></td>
                        <td><input type="text" class="form-control bg-dark" placeholder="Password" /></td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td>Phaedrum</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum@gmail.com</td>
                        <td>xxxxxx</td>
                        <td><a href="#"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Phaedrum</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum@gmail.com</td>
                        <td>xxxxxx</td>
                        <td><a href="#"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Phaedrum</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum@gmail.com</td>
                        <td>xxxxxx</td>
                        <td><a href="#"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Phaedrum</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum utrumque</td>
                        <td>Phaedrum@gmail.com</td>
                        <td>xxxxxx</td>
                        <td><a href="#"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#"><i class="fa fa-eye"></i></a>
                            <a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
</section>
<!--Users list-->

