/* Body
section
    padding: 10px 0px

body
    font-family: "Poppins", sans-serif

p
    color: #000000
    font-size: 13px

a
    color: #000000
    text-decoration: none

ul
    list-style: none

/* Admin

th
    font-weight: 600
    padding: 0.7rem 0.5rem
    font-size: 10.8px
    color: #000
    text-transform: uppercase

td
    padding: 0.7rem 0.5rem
    font-size: 12px
    color: #000
    font-weight: 500

li, a, button
    font-weight: 500
    font-size: 13px
    text-decoration: none

/*Navbar

// #bg-navbar
//     background: #0277BD url(../assets/images/always-grey.png) repeat top (center / 39.0625vw) 1px

//     .nav-link
//         color: $white
