
.text-author
    background-color: #5800e8
    border-color: #5800e8

.jumbotron-manga
    background-color: #5800e8
    border-color: #5800e8


.alert-light
    color: #7c7e81
    background-color: #fcfdfe
    border-color: #fbfcfd

.banner
    background-color: #5800e8
    border-color: #5800e8


.nav-link
    margin: 10px
    color: darkgrey
    font-family: 'lato', 'sans-serif'
    font-size: 14px




.btn-admin
    background-color: rgba(0,0,0,.03)
    border-bottom: 1px solid rgba(0,0,0,.125)

.text-justify
    color: black

.img
    background-image: url('/public/images/bg.png') 

