/*NAVBAR*/

.navbar 
  font-family: cantarell
  font-size: 12px
  background-color: rgba(0, 0, 0, 0.85) hsla(117, 0%, 0%, 0.85)

.form-control
  padding: 2px

.search
  font-size: 12px
  font-family: cantarell

.dropdown-item
  color: white
  background-color: rgba(0, 0, 0, 0.85) hsla(117, 0%, 0%, 0.85)
  font-family: cantarell

/*News*/

.card
  -webkit-box-shadow: 10px 10px 30px -30px 

.card-header
  background-color: #412ecb