// Home
.btn
    background-color: #4B0082
    border: #4B0082
    color: #fff

// Note
.alert-analyse
    font-family: 'Montserrat', 'sans-serif'
    font-size: 12px
    padding: 1px
    border-radius: none
    color: #2e0079
    background-color: #deccfa
    border-color: #d0b8f9

.text-analyse
    font-size: 11px
    margin: 5px
    padding: 10px
    font-family: 'Montserrat-Regular', 'sans-serif'

// Manga
.manga-title
    border: 1px solid #BA55D3
    background: #FFF
    padding: 0px 12px
    line-height: 28px

.tome-title
    font-family: 'Montserrat', 'sans-serif'
    padding: 0 7px
    color: #fff
    display: inline-block
    background-color: #4B0082
   
.title-story
    color: #4B0082

.tome-card
    background-color: #f1f1f183
    padding: 50px
   

// Characters
.chara-card
    background-color: #fff
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
    border: none

.text-author
    background-color: #4B0082
    border-color: #4B0082

.bio
    border: 1px solid #BA55D3
    background: #FFF
    padding: 0px 12px
    line-height: 28px

.jumbotron-manga
    background-color: #4B0082
    border-color: #4B0082

.banner
    background-color: #4B0082
    border-color: #4B0082

.nav-link
    margin: 10px
    color: darkgrey
    font-family: 'montserrat-medium', 'sans-serif'
    font-size: 14px

// Background
.img-bg
    background: #fff

// News
// .news-header
//     background: #4B0082
//     border-bottom: none
.text-news
    font-family: 'montserrat-light', 'sans-serif'
.card-text
    font-size: 13px

// Footer
.footer
    font-size: 13px
