{{!-- modalDelete --}}
<div class="modal fade" id='modalDelete{{_id }}' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body-admin">
        {{> admin/news/deleteNews }}
      </div>
    </div>
  </div>
</div>

{{!-- /modalDelete --}}