{{!-- modalEdit --}}
<div class="modal fade" id='modalEdit{{_id}}' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
      </div>
      <div class="modal-body-admin">
        {{> admin/news/editFormNews }}
      </div>
    </div>
  </div>
</div>

{{!-- /modalEdit --}}